<div class="nav-container" *ngIf="currentUser">
  <div class="nav-header">
    <div (click)="checkNav()" class="header-icon">
      <i
        style="
          align-items: center;
          display: flex;
          justify-content: center;
          color: antiquewhite;
        "
        class="fa fa-bars"
      ></i>
    </div>
  </div>
  <nav class="main-menu" [ngStyle]="checkMenu ? { 'width.px': 250 } : ''">
    <ul>
      <li>
        <a routerLink="in-out-gate">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Quản lý xe vào ra </span>
        </a>
      </li>
      <li>
        <a routerLink="employee">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text"> Nhân viên </span>
        </a>
      </li>
      <li>
        <a routerLink="vehicle-card">
          <i class="fa fa-credit-card fa-2x"></i>
          <span class="nav-text"> Thẻ xe </span>
        </a>
      </li>
      <li>
        <a routerLink="price-listaa">
          <i class="fa fa-money fa-2x"></i>
          <span class="nav-text"> Bảng giá </span>
        </a>
      </li>
      <li>
        <a routerLink="problem-list">
          <i class="fa fa-exclamation-triangle fa-2x"></i>
          <span class="nav-text"> Sự cố </span>
        </a>
      </li>
      <li>
        <a routerLink="resolve-record">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Giải quyết sự cố </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
