<div id="container">
  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Bảng Giá" }}
    </h6>

    <div class="row">
      <div class="col-12">
        <grid-table [columnDefs]="priceListColumnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"
          [showPagination]="false" (callBackEvent)="callBackEvent($event)"
          (onChangeSelection)="onChangeSelection($event)" [height]="'312px'"></grid-table>
      </div>
    </div>
    <div class="ui-g-12 text-right mt-2">
      <button class="tmss-btn btn-outline-primary mr-8 mt-1" [disabled]="!selectedPriceList || user.EmpType === 2"
        (click)="edit()">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Sửa</span>
      </button>
    </div>
  </div>
</div>

<app-create-or-edit-price-list-modal #createOrUpdatePriceList [user]="user" (modalSave)="callBackEvent($event)">
</app-create-or-edit-price-list-modal>
